.full{
    /* height: 1000px;
    width: 100%; */
}

.bgImage{
    background-image: url('https://opensource-demo.orangehrmlive.com/web/dist/img/blob.svg');
    background-color: orange;
    height: 100vh;
    background-position: left; 
    background-repeat: no-repeat; 
    background-size: 80% 100%;
    position: relative;
}
.bgImage .logo{
    background-color: #F2F3F5;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    right: 200px;
    top: 220px;
}
.heading{
    height: 120px;
    width: 550px;
    border-radius: 20px;
    align-items: center;
    margin-top: 0;
    display: flex;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: absolute;
    top: 20px;
    right: 40%;
}
.heading p{
    font-size: 20px;
    font-weight: 500;
}

.heading span{
    color: blue;
}

.heading small{
    margin-left: 20px;
    font-size: 15px;
    font-weight: 300;
}

.form{
    margin-top: 170px;
    position: absolute;
    right: 43%;
}

.form h2{
    color: orange;
    text-align: center;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.form label{
    display: flex;
    align-items: center;
    color: gray;
}
.form .icon{
    margin-right: 5px;
}
.form .inputText{
    padding-left: 22px;
    font-size: 17px;
}
.form input{
    height: 40px;
    width: 420px;
    border: 1px solid gray;
    border-radius: 10px;
    outline: none;

}

.pass-wrap{
    position: relative;
    display: flex;
}

.pass-wrap .eye{
    color: rgb(176, 166, 166);
    position: absolute;
    top:10px;
    right: 15px;
    cursor: pointer;
}
.pass-wrap .eye:hover{
    color: gray;
}

.form .logButton, .formSubmit{
    border-radius: 20px;
    background-color: orange;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.form .formSubmit{
    width: 445px;
    border-radius: 20px;
}
.logButton, .formSubmit:hover{
    background-color: rgb(210, 142, 16);
    transition: .4s;
}
.fotgotBtn{
    border: none;
    padding: 0;
}
.forgot{
    text-align: center;
    color: orange;
    font-size: 16px;
}
.createNew{
    margin-top: 0;
    text-align: center;
    color: green;
    font-size: 16px;

}
.link{
    text-decoration: none;
}

.formCopyright{
    width: 500px;
    position: absolute;
    bottom: 30px;
    left:290px;

}
.copyright{
    font-size: 15px;
}