.content{
    position: static;
    z-index: 1;
}
.dataSearch{
    height: 30px;
    width: 150px;
    border: 2px solid gray;
    border-radius: 10px;
    outline: none;
}

.addText{
    display: flex;
    justify-content: end;
}
.add{
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    background-color: rgba(0, 104, 71, 1);
    color: white;
    height: 40px;
    width: max-content;
    border: none;
    border-radius: 10px
    

}

.delete{
    height: 20px;
    width: 30px;
    margin: 2px;
   
}
.delete button{
    background-color: rgb(212, 28, 28);
    color: white;
}
.edit{
    height: 20px;
    width: 30px;
    margin: 2px;
   
}
.edit button{
    background-color: gray;
    color: white;
}