.userColumn{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.employeeBack{
  display: flex;
  justify-content: space-between;
}

.employeeBack button{
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 10px;
  background-color: orange;
  margin-top: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.formBox{
  margin-left: 15px;
}

.formContainers{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.formContainers .field input{
  width: 320px;
}

.imageField{
    text-align: center;
    border-right: 1px solid rgb(220, 218, 218);
}

.categoryInfo{
  display: flex;
  flex-direction: column;
  text-align: start;
  margin: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.categoryInfo .stle{
  color: rgb(150, 139, 139);
  font-weight: 600;
  margin: 5px;
  padding: 5px;
}
.para{
    /* line-break: 4px; */
    word-wrap: break-word;
    /* padding: 3px; */
}

.input-border{
    width: 100%;
    height: 30px;
}

.inputs{
    display: flex;
}

.billingStop{
  margin-top: 3px;
}

.billingStop,.radio{
  /* display: flex;
  text-align: start; */
}

.billingStop .radio{
  width: 100px;
}

.loginFormContainer,.detailContainers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
.displayNone{
    display: none;
}
.loginToggle{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.loginToggle label{
    margin-left: 10px;
}

.status, .radio{
    display: flex;
    justify-content: space-between;
}

 /* toggle button */

 .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 1px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
 .switch input:checked + .slider {
    background-color: orange;
  }
  
  .switch input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* Details section style */

  .detailContainers .field{
    margin: 10px;
    width: 300px;
  }


  /* modal style */
  .modal{
    position: fixed;
    left: 0;
    top: -200px;
    right: 0;
    bottom: 0; 
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 8;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }

  .modal-content .icon{
    position: absolute;
    top: -5px;
    left: 480px;
    background-color: rgb(175, 156, 156);
    color: rgb(242, 226, 226);
    border-radius: 50%;
    cursor: pointer;

  }
  .modal-content .icon:hover{
    background-color: gray;
  }

  .modal-content{
    position: relative;
    border-radius: 25px;
    width: 500px;
    background-color: #fff;
  }

  .modal-header, .modal-footer{
    padding: 10px;
  }

  .modal-title{
    margin: 0;
    text-align: center;
    padding: 4px;
  }
  .modal-body{
    padding: 10px;
    text-align: center;
  }
.modal-footer{
  margin: 10px;
  text-align: center;
}
.modal-footer button{
  margin: 5px;
  width: 150px;
  height: 35px;
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
}
.button{
  color: red;
  background-color: rgb(246, 206, 206);
}
.button:hover{
  color: white;
  background-color: rgb(250, 72, 72);
}