/*.leaveContents{
    margin-left: 250px;
    
}
 .itemContainer{
    width: 100%;
    position: fixed;
}

.items{
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 100%;
    display: flex;
    float: left;
    cursor: pointer;
}
.item{
    margin: 15px;
    margin-left: 15px;
    border-radius: 10px;
    background-color: rgb(250, 247, 247);
    border: 1px solid rgb(248, 231, 231);
    padding: 5px;
}
.item1{
    margin-left: 60px;
}
.item:hover{
    background-color: antiquewhite;
    color: orange;
}
.formDiv{
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.formContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.field input{
    border: 1px solid rgb(229, 226, 226);
    border-radius: 10px;
    width: 100%;
}

.field .label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
}
.submitInfo input{
    margin-right: 10px;

}
.submit{
    border: 1px solid rgb(141, 222, 21);
    border-radius: 20px;
    width: 90px;
    padding: 5px;
}

.submit2{
    background-color:rgb(48, 222, 21); ;
} */